.button {
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.container {
  padding: 20px;
}

.confirmation-message {
  background-color: #dff0d8;
  color: #3c763d;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
}

.error-message {
  background-color: #f2dede;
  color: #a94442;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ebccd1;
  border-radius: 4px;
}

.workout-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.workout-card.completed {
  background-color: #dff0d8; /* Verde claro para treinos concluídos */
}

.workout-card h3 {
  margin-top: 0;
}

.workout-card .button,
.workout-card .details-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.workout-card .button:hover,
.workout-card .details-button:hover {
  background-color: #0056b3;
}
